{% extends 'layouts/main.html' %}
{% block title %}New Show Listing{% endblock %}
{% block page_content %}
  <div class="form-wrapper">
    <form method="post" class="form" id="show-form">
      <h3 class="form-heading">List a new show</h3>
      <div class="form-group">
        <label for="artist_id">Artist ID</label>
        <small>ID can be found on the Artist's Page</small>
        {{ form.artist_id(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="venue_id">Venue ID</label>
        <small>ID can be found on the Venue's Page</small>
        {{ form.venue_id(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="show_date">Show Date</label>
        {{ form.show_date(class_ = 'form-control datepicker', autofocus = true, min=current_date) }}
      </div>
      <div class="form-group">
        <label for="show_time">Show Time</label>
        {{ form.show_time(class_ = 'form-control datepicker', autofocus = true) }}
      </div>
      <input type="submit" value="Create Show" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}