.question-view {
  display: flex;
  flex-direction: row;
}

.question-holder {
  padding: 10px 20px;
  border: 1px #989898 solid;
  border-radius: 8px;
  text-align: left;
  margin: 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  padding: 8px 0;
  align-items: center;
  justify-content: space-between;
}

.question {
  font-size: 21px;
  width: 100%;
}

.answer-holder {
  font-size: 25px;
  height: 25px;
  margin: 5px 0px;
}

.show-answer {
  width: 100px;
  margin-top: 5px;
  background-color: dodgerblue;
  color: white;
  padding: 3px 5px;
  margin-left: 0px !important;
}

span.page-num {
  margin: 5px;
  padding-bottom: 50px;
  /* color: blue; */
  font-weight: bolder;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}

span.page-num.active {
  color: blue;
}

img.category {
  width: 30px;
}

img.delete {
  width: 24px;
}

.delete, .show-answer {
  cursor: pointer;
}