.quiz-play-holder {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 40px;
}

.category-holder {
    margin-top: 16px;
    font-size: 24px;
}

.choose-header {
    font-size: 34px;
    font-weight: bold;
}

.play-category:hover {
    color: dodgerblue;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
  padding: 0 8px;
}

.categories-list > form {
  width: 100%;
}

.category {
   display: flex;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
   padding: 4px 0;
}

.category:hover {
    color: dodgerblue;
}

.category:hover {
    color: dodgerblue;
}

.button {
    width: 100px;
    margin-top: 5px;
    background-color: dodgerblue;
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
    border: none;
}

.button:focus, .button:active {
    outline: none;
    box-shadow: 0;
}

.button:hover {
    background-color: blue;
}

div.button {
    margin-left: calc(50% - 50px);
}

.quiz-question {
    margin: 12px;
    font-size: 24px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}